:root {
    --point-color1: #E60012;
    --point-color2: #FAC300;
    --point-color3: #D900A9;
    --header-height: 64px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    box-sizing: border-box;
    padding: 8px;
    background-color: lightgoldenrodyellow;
    border-bottom: solid 2px #D900A9;
}

